<span class="titlePanel">Title Information</span>
<span id="title-id"></span>
<table class="table table-bordered table-condensed divaPanel">
	<tr>
		<td class="tdTitle">Title</td>
		<td class="tdTitle" id="title-tile" style="width: 300px;">
		</td>
	</tr>
	<tr>
		<td class="tdTitle">Aliases</td>
		<td class="tdTitle" id="title-aliases">
		</td>
	</tr>
	<tr>
		<td class="tdTitle">Misattributions</td>
		<td class="tdTitle" id="title-misattributions">
		</td>
	</tr>
	<tr>
		<td class="tdTitle">Author</td>
		<td class="tdTitle" id="title-author">
		</td>
	</tr>
	<tr>
		<td class="tdTitle">Subject</td>
		<td class="tdTitle" id="title-subject">
		</td>
	</tr>
	<tr>
		<td class="tdTitle">Language</td>
		<td class="tdTitle" id="title-lang">
		</td>
	</tr>
	<tr>
		<td class="tdTitle">Date of Composition</td>
		<td class="tdTitle" id="title-date-composition">
		</td>
	</tr>
	<tr>
		<td class="tdTitle">Place of Composition</td>
		<td class="tdTitle" id="title-place-composition">
		</td>
	</tr>
	<tr>
		<td class="tdTitle">Dedicated to</td>
		<td class="tdTitle" id="title-dedicated-to">
		</td>
	</tr>
	<tr>
		<td class="tdTitle">Dedication</td>
		<td class="tdTitle" id="title-dedication">
		</td>
	</tr>
	<tr>
		<td class="tdTitle">Text is Commentary on</td>
		<td class="tdTitle" id="title-commentary-on">
		</td>
	</tr>
	<tr>
		<td class="tdTitle">Text is Translation of</td>
		<td class="tdTitle" id="title-translation-of">
		</td>
	</tr>
	<tr>
		<td class="tdTitle">Text is Version of</td>
		<td class="tdTitle" id="title-version-of">
		</td>
	</tr>
	<tr>
		<td class="tdTitle">Incipit</td>
		<td class="tdTitle" id="title-incipit">
		</td>
	</tr>
	<tr>
		<td class="tdTitle">Explicit</td>
		<td class="tdTitle" id="title-explicit">
		</td>
	</tr>
	<tr>
		<td class="tdTitle">Table of Contents</td>
		<td class="tdTitle" id="title-table-contents">
		</td>
	</tr>
	<tr>
		<td class="tdTitle">Notes</td>
		<td class="tdTitle" id="title-notes">
		</td>
	</tr>
	<tr>
		<td class="tdTitle">Bibliographical References</td>
		<td class="tdTitle" id="title-bib">
		</td>
	</tr>	
	<tr>
		<td></td>
		<td>
			<a id="title-details-show-less" class="title-details-show-less">Show less</a>
		</td>
	</tr>		
</table>