<span class="titlePanel">Title Information</span>
<span id="title-id"></span>
<table class="table table-bordered table-condensed divaPanel">
	<tr>
		<td class="tdTitle">Title</td>
		<td class="tdTitle" id="title-tile" style="width: 300px;">
		</td>
	</tr>
	<tr>
		<td class="tdTitle">Aliases</td>
		<td class="tdTitle" id="title-aliases">
		</td>
	</tr>
	<tr>
		<td class="tdTitle">Misattributions</td>
		<td class="tdTitle" id="title-misattributions">
		</td>
	</tr>
	<tr>
		<td class="tdTitle">Author</td>
		<td class="tdTitle" id="title-author">
		</td>
	</tr>
	<tr>
		<td class="tdTitle">Subject</td>
		<td class="tdTitle" id="title-subject">
		</td>
	</tr>
	<tr>
		<td class="tdTitle">Language</td>
		<td class="tdTitle" id="title-lang">
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<a id="title-details-show-more" class="title-details-show-more">Show more</a>
		</td>
	</tr>	
</table>