<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	
		<!-- C3p0 -->
		<property name="hibernate.c3p0.acquire_increment">1</property>
		<property name="hibernate.c3p0.idle_test_period">300</property>
		<property name="hibernate.c3p0.timeout">120</property>
		<property name="hibernate.c3p0.max_size">25</property>
		<property name="hibernate.c3p0.min_size">1</property>
		<property name="hibernate.c3p0.max_statement">0</property>
		<property name="hibernate.c3p0.preferredTestQuery">select 1;</property>
		
  		<property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
        
		<!-- <property name="show_sql">true</property> -->
		<!-- <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property> -->

		<property name="hibernate.dialect">org.mpi.openmind.repository.utils.CustomMysqlDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/openmind?characterEncoding=UTF-8</property>
        <property name="hibernate.connection.charSet">UTF-8</property>  
        <property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">e1nste1n</property>
		<!--
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:8080/ismi-richfaces</property>
		<property name="hibernate.connection.charSet">UTF-8</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">""</property>
		-->

        <!--         <property name="hibernate.connection.password">fB79DCsT87</property>    -->        
        <!-- <property name="hibernate.connection.password">e1nste1n</property>    -->            
                 
		<!--
		<property name="hibernate.connection.username">ismi</property>
        <property name="hibernate.connection.password">ismipw</property> 
		<property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">e1nste1n</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">dm2eroot</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">admin</property>
		 -->
		
		<!-- <property name="show_sql">true</property> -->
		<property name="current_session_context_class">thread</property>
		<!-- <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property> -->
		<!-- <property name="hbm2ddl.auto">create</property> -->
		<!-- <property name="hibernate.hbm2ddl.auto">validate</property> -->
		
		
		<mapping class="org.mpi.openmind.repository.bo.Node" />
		<mapping class="org.mpi.openmind.repository.bo.Attribute" />
		<mapping class="org.mpi.openmind.repository.bo.Entity" />
		<mapping class="org.mpi.openmind.repository.bo.Relation" />
		<mapping class="org.mpi.openmind.repository.bo.View" />
		<mapping class="org.mpi.openmind.repository.bo.ViewerAttribute" />
		<mapping class="org.mpi.openmind.repository.bo.ViewerPage" />
		<mapping class="org.mpi.openmind.repository.bo.utils.Sequence" />
		<mapping class="org.mpi.openmind.security.bo.User" />
		<mapping class="org.mpi.openmind.security.bo.Group" />
		<mapping class="org.mpi.openmind.security.bo.Role" />
		<mapping class="org.mpi.openmind.security.bo.Permission" />
		<mapping class="org.mpi.openmind.security.bo.utils.UserRole" />
		<mapping class="org.mpi.openmind.security.bo.utils.GroupRole" />
		<mapping class="org.mpi.openmind.security.bo.utils.UserGroup" />
		<mapping class="org.mpi.openmind.security.bo.utils.RolePermission" />
	</session-factory>
</hibernate-configuration>
